<h1>About me</h1>

<p><img style="margin: 0 20px 20px 20px; border: 1px solid #000; float: right;" src="http://www.davidrobles.net/images/david-robles.jpg" alt="David Robles" /></p>
<p>I&#8217;m a PhD student in Computer Science in the <a href="http://csee.essex.ac.uk/gig/">Games Intelligence Group (GIG)</a> at the University of Essex, under the supervision of <a href="http://dces.essex.ac.uk/staff/lucas/">Professor Simon M. Lucas</a>. My research focuses in Reinforcement Learning, Monte-Carlo Tree Search (MCTS) and general game tree search techniques using Games.</p>
<p>Before enrolling in the PhD program I did an MSc in Computer Science (Software Engineering). My thesis focused in developing an agent using Artificial Intelligence techniques to play in a simulator of the game Ms. Pac-Man. I used a hybrid approach of game-tree search techniques and genetic algorithms to evolve heuristics.</p>

<h2>Education</h2>

<ul>
<li><strong>PhD Candidate in Computer Science</strong>
<p>Supervisor: <a href="http://dces.essex.ac.uk/staff/lucas/">Professor Simon M. Lucas</a><br />
<a href="http://www.essex.ac.uk">University of Essex</a><br />
Colchester, United Kingdom<br />
2008 &#8211; Present</li>
<li><strong>MSc in Computer Science</strong>
<p><a href="http://www.essex.ac.uk">University of Essex</a><br />
Colchester, United Kingdom<br />
2007 &#8211; 2008</li>
<li><strong>BSc in Information Systems Engineering</strong>
<p><a href="http://www.itesm.edu">Institute of Technology and Higher Education of Monterrey</a><br />
Hermosillo, Mexico<br />
2001 &#8211; 2006</li>
</ul>

<h2>Teaching experience</h2>

<p><strong>Graduate Laboratory Assistant</strong>, University of Essex </p>

<ul>
  <li>CE705 Programming in Java, Autumn 2009.</li>
  <li>CE112 Procedural and Object-Oriented Programming, Spring 2010.</li>
  <li>CE212 Web Application Programming, Spring 2010.</li>
  <li>CE705 Programming in Java, Autumn 2010.</li>
  <li>CE152 Object-Oriented Programming, Spring 2011.</li>
  <li>CE218 Computer Game Programming, Spring 2011.</li>
</ul>

<h2>IT Certifications</h2>

<ul>
<li>Cisco Certified Network Associate (February 2006).</li>
<li>Microsoft Certified Systems Administrator (May 2007).</li>
</ul>
