                <div class="post">

                    <div class="date">Thursday, December 8, 2011</div>

                    <h1>A Month With Scala</h1>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

<pre class="prettyprint">
Holder.add_theme("thechangelog", { background: "#f0f0f0", foreground: "#303030", size: 12});
</pre>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>


<pre class="prettyprint">
var light = new Photon.Light();
var face = new Photon.Face( $('.face-1')[0] );
face.render(light, true);
</pre>

                    <h2>Getting Started</h2>

                    <p>TTTTTTTTTThis is the contentas fasd fa sdf asd fas df as his is the contentas
                    fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is
                    the contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas
                    df as his is the contentas fasd fa sdf asd fas df as his is the contentas fasd
                    fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is the
                    contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df
                    as.</p>

<pre class="prettyprint">
&lt;script src="js/impress.js"&gt;&lt;/script&gt;
&lt;script&gt;
  impress().init();
&lt;/script&gt;
</pre>

                    <p>TTTTTTTTTThis is the contentas fasd fa sdf asd fas df as his is the contentas
                    fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is
                    the contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas
                    df as his is the contentas fasd fa sdf asd fas df as his is the contentas fasd
                    fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is the
                    contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df
                    as.</p>

                    <p>TTTTTTTTTThis is the contentas fasd fa sdf asd fas df as his is the contentas
                    fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is
                    the contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas
                    df as his is the contentas fasd fa sdf asd fas df as his is the contentas fasd
                    fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is the
                    contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df
                    as.</p>

<pre class="prettyprint">
Piecon.setProgress(15);
Piecon.setProgress(77);
Piecon.reset();
</pre>

                </div>

                <div class="post">

                    <div class="date">Thursday, December 8, 2011</div>

                    <h1>A Month With Scala</h1>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <h2>Getting Started</h2>

                    <p>TTTTTTTTTThis is the contentas fasd fa sdf asd fas df as his is the contentas
                    fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is
                    the contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas
                    df as his is the contentas fasd fa sdf asd fas df as his is the contentas fasd
                    fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is the
                    contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df
                    as.</p>

                </div>

                <div class="post">

                    <div class="date">Thursday, December 8, 2011</div>

                    <h1>A Month With Scala</h1>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <h2>Getting Started</h2>

                    <p>TTTTTTTTTThis is the contentas fasd fa sdf asd fas df as his is the contentas
                    fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is
                    the contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas
                    df as his is the contentas fasd fa sdf asd fas df as his is the contentas fasd
                    fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is the
                    contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df
                    as.</p>

                </div>

                <div class="post">

                    <div class="date">Thursday, December 8, 2011</div>

                    <h1>A Month With Scala</h1>

                    <p>Although I've played around with Scala for the few months, these efforts
                    largely involved simple scripts and casual reading. It wasn't until last month
                    that the opportunity to use Scala in a large scale project finally arose and I
                    dove right in.  The project was a typical REST based web service built on top of
                    Amazon's Elastic Beanstalk, SimpleDB, S3 and Redis*.</p>

                    <p>TTTTTTTTTThis is the contentas fasd fa sdf asd fas df as his is the contentas
                    fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is
                    the contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas
                    df as his is the contentas fasd fa sdf asd fas df as his is the contentas fasd
                    fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df as his is the
                    contentas fasd fa sdf asd fas df as his is the contentas fasd fa sdf asd fas df
                    as.</p>

                </div>

