<ul>
  <li>
  Spyridon Samothrakis, Simon Lucas, Thomas Philip Runarsson, and David Robles<br />
  <a href="http://davidrobles.s3.amazonaws.com/publications/samothrakis-coev-2012.pdf">Coevolving Game-Playing Agents: Measuring Performance and Intransitivities</a><br />
  IEEE Transactions on Evolutionary Computation (2012)
  </li>
  <li>
  David Robles, Philipp Rohlfshagen and Simon M. Lucas<br />
  <a href="http://davidrobles.s3.amazonaws.com/publications/robles-cig-2011.pdf">Learning Non-Random Moves for Playing Othello: Improving Monte Carlo Tree Search</a><br />
  IEEE Conference on Computational Intelligence and Games (2011)
  </li>
  <li>
  Spyridon Samothrakis, David Robles and Simon M. Lucas<br />
  <a href="http://davidrobles.s3.amazonaws.com/publications/samothrakis-pacman-2010.pdf">Fast Approximate Max-N Monte Carlo Tree Search for Ms Pac-Man</a><br />
  IEEE Transactions on Computational Intelligence and AI in Games (2011)
  </li>
  <li>
  Spyridon Samothrakis, David Robles and Simon M. Lucas<br />
  <a href="http://davidrobles.s3.amazonaws.com/publications/samothrakis-tron-2010.pdf">A UCT Agent for Tron: Initial Investigations</a><br />
  IEEE Conference on Computational Intelligence and Games (2010)
  </li>
  <li>
  David Robles and Simon M. Lucas. <a href="http://davidrobles.s3.amazonaws.com/publications/robles-pacman-2009.pdf">A Simple Tree Search Method for Playing Ms. Pac-Man</a>. IEEE Symposium on Computational Intelligence and Games (2009).
  </li>
</ul>
