<% if @projects.empty? %>
  <div class="notice">No projects.</div>
<% else %>
  <% @projects.each_with_index do |project, index| %>
    <%# <div class="project"> %>
    <%#   <%= link_to image_tag("http://envylabs.com/images/work/img-codeschool.jpg", class: index.even? ? 'left' : 'right', style: 'width: 250px;'), "#"  %1> %>
    <%#   <h2>Project</h2> %>
    <%#   <p><%= raw project.body %1></p> %>
    <%#   <br style="clear: both;" /> %>
    <%# </div> %>
  <% end %>
  <%= paginate @projects %>
<% end %>
