<h1>Post#show</h1>

<p><%= link_to "Edit", edit_admin_post_path(@post) %></p>

<p>Title: <%= @post.title %></p>
<p>Slug: <%= @post.slug %></p>
<p>Content: <%= sanitize @post.body %></p>
<<<<<<< HEAD

=======
>>>>>>> d4e7abf61da14b37d62f9daca9acbf16cc60b69d
